@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&family=Fraunces:wght@700;900&display=swap');

/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root {
    --soft-red: hsl(7, 99%, 70%);
    --light-red: hsl(6, 100%, 85%);
    --yellow: hsl(51, 100%, 49%);
    --soft-yellow: hsl(51, 96%, 79%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --light-moderate-cyan: #90d4c5;
    --very-dark-saturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

body {
    display: flex;
    flex-direction: column;f
    min-height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 700px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 36px;
    width: 100%;
}

nav ul li {
    display: inline-block;
    color: var(--white);
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    margin-left: 40px;
}

.nav-button {
    color: black;
    padding: 1em 1.5em;
    border-radius: 2em;
    background-color: var(--white);
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    font-size: 12px;
    transition: 0.3s;
}

.nav-button:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.333);
    cursor: pointer;
}

header h1 {
    margin-top: 36px;
    text-align: center;
    color: var(--white);
    font-size: 42px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    letter-spacing: 8px;
}

.arrow {
    height: 100px;
    margin-top: 110px;
}

.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.two-column-grid div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    min-width: 300px;
}

.two-column-grid .bottom {
    justify-content: flex-end;
    align-items: center;
    height: 600px;
    min-width: 300px;
    text-align: center;
}

.two-column-grid div:nth-child(1) {
    padding: 0px 100px 0 150px;
}

.two-column-grid div:nth-child(4) {
    padding: 0px 150px 0 100px;
}

.two-column-grid div h2 {
    font-size: 42px;
    font-family: 'Fraunces', serif;
    max-width: 350px;
    line-height: 38px;
    color: var(--very-dark-saturated-blue);
}

.two-column-grid div p {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.gray {
    color: var(--grayish-blue);
    margin: 28px 0;
}

.two-column-grid a {
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    text-decoration: none;
    color: var(--very-dark-saturated-blue);
}

.yellow {
    box-shadow: inset 0 -0.4em 0 0 var(--soft-yellow);
    padding: 0 4px;
    transition: 0.3s;
}

.learn-more .yellow:hover {
    box-shadow: inset 0 -0.4em 0 0 var(--yellow);
}

.red {
    box-shadow: inset 0 -0.4em 0 0 var(--light-red);
    padding: 0 4px;
    transition: 0.3s;
}

.learn-more .red:hover {
    box-shadow: inset 0 -0.4em 0 0 var(--soft-red);
}

.two-column-grid div:nth-child(2) {
    background-image: url("./images/desktop/image-transform.jpg");
    background-position: center;
    background-size: cover;
}

.two-column-grid div:nth-child(3) {
    background-image: url("./images/desktop/image-stand-out.jpg");
    background-position: center;
    background-size: cover;
}

.two-column-grid div:nth-child(5) {
    background-image: url("./images/desktop/image-graphic-design.jpg");
    background-position: center;
    background-size: cover;
}

.two-column-grid div:nth-child(6) {
    background-image: url("./images/desktop/image-photography.jpg");
    background-position: center;
    background-size: cover;
}

.bottom h3 {
    font-size: 32px;
    font-family: 'Fraunces', serif;
}

.bottom p {
    max-width: 380px;
    margin: 30px 0 60px;
}

.green {
    color: var(--dark-desaturated-cyan);
}

.blue {
    color: var(--dark-blue);
}

.client-testimonials {
    display: flex;
    align-items: space-around;
    justify-content: center;
    flex-direction: column;
    padding: 150px;
    text-align: center;
}

.client-testimonials h4 {
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: var(--grayish-blue);
    letter-spacing: .35em;
    font-size: 18px;
}

.testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3%;
    margin-top: 4em;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 325px;
}

.profile-pic {
    width: 60px;
    border-radius: 2em;
}

.comment {
    margin-top: 4em;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    color: var(--dark-blue);
    line-height: 1.5em;
    font-size: 16px;
}

.name {
    margin-top: 4em;
    font-family: 'Fraunces', serif;
    color: var(--very-dark-saturated-blue);
    font-family: 14px;
}

.title {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--grayish-blue);
    margin-top: .75em;
}

.four-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.four-column-grid img {
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 4cqi;
    background-color: var(--light-moderate-cyan);
    align-items: center;
    justify-content: center;
}

footer .logo {
    color: var(--dark-moderate-cyan);
}

.footer-nav {
    margin-bottom: 2em;
}

.footer-nav li {
    display: inline-block;
    list-style: none;
    margin: 2em 1em;
    font-family: 'Barlow', sans-serif;
    color: var(--dark-moderate-cyan);
    font-size: 16px;
}

.footer-social li {
    display: inline-block;
    list-style: none;
    margin: 0 .5em 2em;
}

ion-icon {
    color: hsl(168, 34%, 41%);
    font-size: 20px;
}

.white {
    color: white;
    font-size: 24px;
}

.desktop-hide {
    display: none;
}

.attribution {
    font-size: 10px;
    text-align: center;
    color: var(--dark-moderate-cyan);
    font-family: 'Barlow', sans-serif;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    color: var(--dark-desaturated-cyan);
    font-weight: 600;
    font-size: 10px;
}

@media only screen and (max-width: 1000px) {
    .mobile-hide {
        display: none;
    }

    .desktop-hide {
        display: inline-block;
    }

    header {
        height: 600px;
    }
    
    #nav-button {
        color: black;
        padding: 1em 1.5em;
        border-radius: 2em;
        background-color: var(--yellow);
        font-family: 'Fraunces', serif;
        text-transform: uppercase;
        font-size: 18px;
        transition: 0.3s;
    }

    .mobile-nav {
        background-color: white;
        width: 90%;
        text-align: center;
        padding: 1em 0;
        position: fixed;
        margin-top: 90px;
        top: -100%;
        transition: 0.3s;
    }

    .nav-list {
        list-style-type: none;
    }

    .mobile-nav.active {
        top: 0;
    }

    .nav-list li {
        margin: 2em 0;
        font-family: 'Barlow', sans-serif;
        font-size: 20px;
        color: var(--very-dark-grayish-blue);
        font-weight: 600;
    }

    .nav-list a {
        color: black;
        text-decoration: none;
    }

    .arrow {
        margin-top: 50px;
    }

    .two-column-grid {
        grid-template-columns: 1fr;
    }

    .two-column-grid div {
        height: 450px;
        align-items: center;
        text-align: center;
        padding: 0 30px;
    }

    .two-column-grid div:nth-child(2) {
        order: -1;
        height: 400px;
    }

    .two-column-grid div:nth-child(1) {
        padding: 0px 30px;
    }
    
    .two-column-grid div:nth-child(4) {
        padding: 0px 30px;
    }

    .client-testimonials {
        padding: 4em 0;
    }

    .comment {
        margin-top: 2em;
    }
    
    .name {
        margin-top: 2em;
    }
    
    .title {
        font-family: 'Barlow', sans-serif;
        font-weight: 300;
        font-size: 14px;
        color: var(--grayish-blue);
        margin-top: .75em;
    }

    .testimonials {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 3%;
        margin-top: 0;
    }

    .testimonial {
        margin-top: 4em;
    }

    .four-column-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer {
        padding: 3em 0;
    }

}